<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Classic Login Form Example</title>
  <link href="https://fonts.googleapis.com/css?family=Assistant:400,700" rel="stylesheet">

</head>
<body>
  <nav class="gtco-nav" role="navigation" >
    <div class="gtco-container">
        
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <div id="gtco-logo"><a [routerLink]="['/trangchu']">SKYHIGH <em>.</em></a></div>
            </div>
            <div class="col-xs-8 text-right menu-1">
                <ul>
                    <li><a [routerLink]="['/thongtinhanhchinh']">Thông Tin Hành Trình</a></li>
                    <li class="has-dropdown">
                        <a  [routerLink]="['/datvemaybay']">Đặt Vé</a>
                        <!-- <ul class="dropdown">
                            <li><a href="#">Europe</a></li>
                            <li><a href="#">Asia</a></li>
                            <li><a href="#">America</a></li>
                            <li><a href="#">Canada</a></li>
                        </ul> -->
                    </li>
                    <li><a [routerLink]="['/lienhe']">Liên hệ</a></li>
            
                    <li class="has-dropdown"  >
                        <a  >Tài Khoản</a>
                    
                        <ul class="dropdown">
                            <li><a [routerLink]="['/dangnhap']">Đăng nhập</a></li>
                            <li><a [routerLink]="['/dangky']">Đăng ký</a></li>
                            <li><a href="#">Trợ giúp</a></li>
                    
                        </ul>
                    </li>	
                    
                    
                </ul>	
            </div>
        </div>
        
    </div>
</nav>
  {{msg}}
<!-- partial:index.partial.html -->
<section class='login' id='login'>
  <div class='head'>
  <h1 class='company'>Đăng Nhập</h1>
  </div>
  <div class='form'style="width:400px;">
      <form  >
          <input type="text" placeholder='Tên Tài Khoản' class='text' id='username'[(ngModel)]="taikhoan" name="taikhoan" ><br>
          <input type="password" placeholder='Mật Khẩu' class='password' [(ngModel)]="matKhau" name="matKhau"><br>
          <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
          <label for="vehicle1">Ghi Nhớ Đăng Nhập</label><br>
          <br>
  
          <input type="submit" class='btn-login' value="Đăng Nhập"(click)="login()">
         
          <br />
          <br />
          <a href="#" class='forgot' [routerLink]="['/dangky']">Đăng ký?</a>
      </form>
  </div>
</section>
<p-toast></p-toast>
</body>

</html>
