<nav class="gtco-nav" role="navigation" >
    <div class="gtco-container">
        
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <div id="gtco-logo"><a *ngIf="taikhoan!=null" [routerLink]="['/trangchu',{taikhoan:taikhoan}]">SKYHIGH <em>.</em></a>
                    <a *ngIf="taikhoan==null" [routerLink]="['/trangchu']">SKYHIGH <em>.</em></a>
                </div>
            </div>
            <div class="col-xs-8 text-right menu-1">
                <ul>
                    <li><a *ngIf="taikhoan!=null" [routerLink]="['/ve',{taikhoan:taikhoan}]">Xem Vé</a>
                        <a *ngIf="taikhoan==null" [routerLink]="['/thongtinhanhchinh']">Thông Tin Hành Trình</a>
                    </li>
                    
                    <li class="has-dropdown">
                        <a  *ngIf="taikhoan!=null" [routerLink]="['/datvemaybay',{taikhoan:taikhoan}]">Đặt Vé</a>
                        <a  *ngIf="taikhoan==null" [routerLink]="['/datvemaybay']">Đặt Vé</a>
                        <!-- <ul class="dropdown">
                            <li><a href="#">Europe</a></li>
                            <li><a href="#">Asia</a></li>
                            <li><a href="#">America</a></li>
                            <li><a href="#">Canada</a></li>
                        </ul> -->
                    </li>
                    <li><a *ngIf="taikhoan!=null" [routerLink]="['/lienhe',{taikhoan:taikhoan}]">Liên hệ</a>
                        <a *ngIf="taikhoan==null" [routerLink]="['/lienhe']">Liên hệ</a>
                    </li>
            
                    <li class="has-dropdown"  >
                        <a *ngIf="taikhoan==null" [routerLink]="['/dangnhap']">Đăng nhập</a>
                        <a *ngIf="taikhoan!=null" [routerLink]="['/thongtincanhan',{taikhoan:taikhoan}]" ><b>Xin chào {{taikhoan}}</b></a>
                        <a *ngIf="taikhoan!=null" [routerLink]="['/trangchu']" ><b>Đăng xuất</b></a>
                        <!-- <ul class="dropdown">
                            <li><a ></a></li>
                            <li><a [routerLink]="['/dangky']">Đăng ký</a></li>
                            <li><a href="#">Trợ giúp</a></li>
                    
                        </ul> -->
                    </li>	
                    
                    
                </ul>	
            </div>
        </div>
        
    </div>
</nav>
<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url(../../../assets/images/sanbayvanoichuyen.png)">
<div class="overlay"></div>
<div class="gtco-container">
    <div class="row">
        <div class="col-md-12 col-md-offset-0 text-center">
            <div class="row row-mt-15em">

                <div class="col-md-12 mt-text animate-box" data-animate-effect="fadeInUp">
                    <h1>Thông Tin Cá Nhân</h1>	
                </div>
                
            </div>
            
        </div>
    </div>
</div>
</header>
<div class="gtco-section border-bottom">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6 animate-box">
                <h3>Chỉnh Sửa Thông Tin Cá Nhân</h3>
                <form method="post" [formGroup]="editThongTinCaNhan" (ngSubmit)="save()" >
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label class="sr-only" for="name">Tên Hành Khách</label>
                            <input type="text" id="sub" class="form-control" placeholder="Tên Hành Khách"  formControlName="tenKhachHang" >
                        </div>
                        
                    </div>
                
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label class="sr-only" for="gmail">Ngày Sinh</label>
                            <input type="text" id="sub" class="form-controlgmail" class="form-control" placeholder="Ngày Sinh"  formControlName="ngaySinh" >
                        </div>
                    </div>
                
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label class="sr-only" for="subject">Số Điện Thoại</label>
                            <input type="text" id="subjec" class="form-control" placeholder="Số Điện Thoại"  formControlName="soDienThoai">
                        </div>
                    </div>
                
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label class="sr-only" for="subject">Giới Tính</label>
                            <input type="text" id="subject" class="form-control" placeholder="Giới Tính" formControlName="gioiTinh" >
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label class="sr-only" for="subje">Mật Khẩu</label>
                            <input type="password" id="subje" class="form-control" placeholder="Tiêu đề" formControlName="matKhau" >
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Gửi Ngay" class="btn btn-primary" (onClick)="save()">
                    </div>
                
                </form>			
            </div>
            <div class="col-md-5 col-md-push-1 animate-box">
                
                <div class="gtco-contact-info">
                    <h3>Thông tin liên hệ</h3>
                    <ul>
                        <li class="address">828 Sư Vạn Hạnh<br> Phường 13 Quận 10</li>
                        <li class="phone"><a href="tel://1234567920">+ 1235 2355 98</a></li>
                        <li class="email"><a href="mailto:info@yoursite.com">skyhigh@yoursite.com</a></li>
                        <li class="url"><a href="https://freehtml5.co">SkyHigh</a></li>
                    </ul>
                </div>


            </div>
            </div>
        </div>
    </div>
</div>
<p-toast></p-toast>
 

