<nav class="gtco-nav" role="navigation" >
    <div class="gtco-container">
        
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <div id="gtco-logo"><a *ngIf="taikhoan!=null" [routerLink]="['/trangchu',{taikhoan:taikhoan}]">SKYHIGH <em>.</em></a>
                    <a *ngIf="taikhoan==null" [routerLink]="['/trangchu']">SKYHIGH <em>.</em></a>
                </div>
            </div>
            <div class="col-xs-8 text-right menu-1">
                <ul>
                    <li><a *ngIf="taikhoan!=null" [routerLink]="['/ve',{taikhoan:taikhoan}]">Xem Vé</a>
                        <a *ngIf="taikhoan==null" [routerLink]="['/thongtinhanhchinh']">Thông Tin Hành Trình</a>
                    </li>
                    
                    <li class="has-dropdown">
                        <a  *ngIf="taikhoan!=null" [routerLink]="['/datvemaybay',{taikhoan:taikhoan}]">Đặt Vé</a>
                        <a  *ngIf="taikhoan==null" [routerLink]="['/datvemaybay']">Đặt Vé</a>
                        <!-- <ul class="dropdown">
                            <li><a href="#">Europe</a></li>
                            <li><a href="#">Asia</a></li>
                            <li><a href="#">America</a></li>
                            <li><a href="#">Canada</a></li>
                        </ul> -->
                    </li>
                    <li><a *ngIf="taikhoan!=null" [routerLink]="['/lienhe',{taikhoan:taikhoan}]">Liên hệ</a>
                        <a *ngIf="taikhoan==null" [routerLink]="['/lienhe']">Liên hệ</a>
                    </li>
            
                    <li class="has-dropdown"  >
                        <a *ngIf="taikhoan==null" [routerLink]="['/dangnhap']">Đăng nhập</a>
                        <a *ngIf="taikhoan!=null" [routerLink]="['/thongtincanhan',{taikhoan:taikhoan}]" ><b>Xin chào {{taikhoan}}</b></a>
                        <a *ngIf="taikhoan!=null" [routerLink]="['/trangchu']" ><b>Đăng xuất</b></a>
                        <!-- <ul class="dropdown">
                            <li><a ></a></li>
                            <li><a [routerLink]="['/dangky']">Đăng ký</a></li>
                            <li><a href="#">Trợ giúp</a></li>
                    
                        </ul> -->
                    </li>	
                    
                    
                </ul>	
            </div>
        </div>
        
    </div>
</nav>
<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url(assets/images/hinh-anh-may-bay.jpg)">
    <div class="overlay"></div>
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-12 col-md-offset-0 text-center">
                <div class="row row-mt-15em">

                    <div class="col-md-12 mt-text animate-box" data-animate-effect="fadeInUp">
                        <h1>Thông Tin Chuyến Bay</h1>	
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="thongtinchuyenbay-container">
    <div class="container-1" >
        <div><h3 style="margin-left: 4%;">TÌM KIẾM THÔNG TIN CHUYẾN BAY</h3></div>
        <form  method="get"  [formGroup]="search" (ngSubmit)="search1()" >
                                                
            <div class="row form-group">
                <div class="col-md-6">
                    
                    <label for="activities">Từ</label>
                    <select name="#" id="activities" class="form-control selection-width" formControlName="maSbayDi">
                        <ng-container *ngIf="sanbays != null">
                        <option>Chọn</option>
                        <option *ngFor="let sanbay of sanbays" value="{{sanbay.maSbay}}">{{sanbay.tenTinhThanh}}</option>
                       
                    </ng-container>
                    </select>
                
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-6">
                    <label for="activities">Đến</label>
                    <select name="#" id="activities" class="form-control selection-width" formControlName="maSbayDen">
                        <ng-container *ngIf="sanbays != null">
                        <option value="">Chọn</option>
                        <option *ngFor="let sanbay of sanbays" value="{{sanbay.maSbay}}" >{{sanbay.tenTinhThanh}}</option>
                    </ng-container>
                    </select>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-6">
                    <label for="date-start">Ngày khởi hành</label>
                    <input type="text" id="date-start" class="form-control selection-width" formControlName="ngayCatCanh" >
                </div>
            </div>
        
            <!-- <div class="row form-group">
                <div class="col-md-12">
                    <label for="date-end">Date Travel</label>
                    <input type="text" id="date-end" class="form-control">
                </div>
            </div> -->
        
    
            <div class="row form-group">
                <div class="col-md-6 btn-center">
                    <input type="submit" class="btn btn-primary btn-block" value="Tìm Kiếm">
                </div>
            </div>
       
        </form>	
    </div>
    
    <div class="section-1" >
        <div class="tpd-plan">
          <div class="tp-flight-plan">
            <div class="container-fluid">
     <ng-container *ngFor="let thongtinchuyenbay of thongtinchuyenbays">
                <div class="crop depart">
                    <div class="context collapsed" data-toggle="collapse" data-target="#demo2">
                        <a *ngIf="taikhoan==null" tabindex="0" class="tog-cal itin-det-btn" [routerLink]="['/chitietdatve',{ maCb: thongtinchuyenbay.maCb }]">
                            Chọn
                        </a>
                        <a *ngIf="taikhoan!=null" tabindex="0" class="tog-cal itin-det-btn" [routerLink]="['/chitietdatve',{ maCb: thongtinchuyenbay.maCb ,taikhoan:taikhoan}]">
                            Chọn
                        </a>
                        <!-- <a *ngIf="taikhoan1==null" tabindex="0" class="tog-cal itin-det-btn" [routerLink]="['/chitietdatve',{ maCb: thongtinchuyenbay.maCb }]">
                            Chọn
                        </a> -->
                        <!-- <a *ngIf="taikhoan1!=null" tabindex="0" class="tog-cal itin-det-btn" [routerLink]="['/chitietdatve',{ maCb: thongtinchuyenbay.maCb ,taikhoan:taikhoan}]">
                            Chọn
                        </a> -->
                        <div class="item it-1">
                            <label class="trip-type depart">Chuyến đi</label>
                            <div class="airline-image">
                                <div class="df-text">1 tiếng 25 phút</div>
                                <span class="img-wrapper">
                                    <svg class="anime-airplane">
                                        <use xlink:href="#airplane"></use>
                                    </svg>
                                </span>
                            </div>
    
                           <div class="port-seg">
                                <div class="flight-seg origin">
                                    <div class="time">{{thongtinchuyenbay.gioCatCanh}}</div>
                                    <div class="port">{{thongtinchuyenbay.maSbayDi}}</div>
                                    <div class="name">{{this.thongtinchuyenbay.tenTinhThanhSanBayDi}}</div>
                                </div>
                                <div class="flight-seg destination">
                                    <div class="time">{{thongtinchuyenbay.gioHaCanh}}</div>
                                    <div class="port">{{thongtinchuyenbay.maSbayDen}}</div>
                                    <div class="name">{{this.thongtinchuyenbay.tenTinhThanhSanBayDen}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="item it-2">
                            <div class="dr-row">
                                <span class="al-name">{{thongtinchuyenbay.maCb}}</span>
                                <img class="airline-logo" src="https://images.ucuzabilet.com/resources/img/flights-logo/logo25x19/25px-PC.png" />
                            </div>
                            <div class="take-tim">{{thongtinchuyenbay.ngayCatCanh}}</div>
                        </div>
                    </div>
                    <!-- <div id="demo2" class="fly-wrap collapse">
                        <div class="fly-det">
                            <div class="f-item">
                                <div class="airway-title">
                                    <img class="airline-logo" src="https://www.turkishairlines.com/theme/img/carrierairlines/carriercode_tk.png" /> <span>SKYHIGH AIRLINE</span>
                                </div>
                                <div class="root-de">
                                    <div class="times"> 1h25' </div>
                                    <div class="directs">
                                        <div class="itin-time">
                                            <div class="itin-lines"></div>
                                        </div>
    
                                        <div class="hour-sm">
                                            <div class="hour-time-sm">10h30</div>
                                            <div class="hour-time-sm">11h35</div>
                                        </div>
                                    </div>
    
                                    <div class="itin-target">
                                        <div class="tar-label">Huế</div>
                                        <div class="tar-label">TP.HCM</div>
                                    </div>
                                </div>
    
                            </div>
                        </div>
    
                        <div class="arrival-info">
                            <a href="#" class="btn-chon"><div class="btn-chon-1"><h3>Chọn</h3></div></a>
                        </div>
                    </div> -->
                </div>
           
            
     </ng-container>  
               
            </div>
        </div>                                             
    </div>

          <svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" display="none">
          <symbol  id="airplane" viewBox="243.5 245.183 25 21.633">
            <g>
              <path d="M251.966,266.816h1.242l6.11-8.784l5.711,0.2c2.995-0.102,3.472-2.027,3.472-2.308
                c0-0.281-0.63-2.184-3.472-2.157l-5.711,0.2l-6.11-8.785h-1.242l1.67,8.983l-6.535,0.229l-2.281-3.28h-0.561v3.566
                c-0.437,0.257-0.738,0.724-0.757,1.266c-0.02,0.583,0.288,1.101,0.757,1.376v3.563h0.561l2.281-3.279l6.535,0.229L251.966,266.816z"/>
            </g>
          </symbol>
        </svg>
    </div>
</div>
<div >
<div id="gtco-subscribe" style="background-color: cadetblue;"  >
    <div class="gtco-container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                <h2>Hãy gửi gmail đến chúng tôi</h2>
                <p>Khách hàng sẽ nhận về những thông tin mới nhất về các chuyến bay và dịch vụ tốt nhất của hãng hàng không SKYHIGH</p>
            </div>
        </div>
        <div class="row animate-box" >
            <div class="col-md-8 col-md-offset-2">
                <form class="form-inline">
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label for="email" class="sr-only">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Your Email">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <button type="submit" class="btn btn-default btn-block">Gửi</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
