<nav class="gtco-nav" role="navigation" >
    <div class="gtco-container">
        
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <div id="gtco-logo"><a *ngIf="taikhoan!=null" [routerLink]="['/trangchu',{taikhoan:taikhoan}]">SKYHIGH <em>.</em></a>
                    <a *ngIf="taikhoan==null" [routerLink]="['/trangchu']">SKYHIGH <em>.</em></a>
                </div>
            </div>
            <div class="col-xs-8 text-right menu-1">
                <ul>
                    <li><a *ngIf="taikhoan!=null" [routerLink]="['/ve',{taikhoan:taikhoan}]">Xem Vé</a>
                        <a *ngIf="taikhoan==null" [routerLink]="['/thongtinhanhchinh']">Thông Tin Hành Trình</a>
                    </li>
                    
                    <li class="has-dropdown">
                        <a  *ngIf="taikhoan!=null" [routerLink]="['/datvemaybay',{taikhoan:taikhoan}]">Đặt Vé</a>
                        <a  *ngIf="taikhoan==null" [routerLink]="['/datvemaybay']">Đặt Vé</a>
                        <!-- <ul class="dropdown">
                            <li><a href="#">Europe</a></li>
                            <li><a href="#">Asia</a></li>
                            <li><a href="#">America</a></li>
                            <li><a href="#">Canada</a></li>
                        </ul> -->
                    </li>
                    <li><a *ngIf="taikhoan!=null" [routerLink]="['/lienhe',{taikhoan:taikhoan}]">Liên hệ</a>
                        <a *ngIf="taikhoan==null" [routerLink]="['/lienhe']">Liên hệ</a>
                    </li>
            
                    <li class="has-dropdown"  >
                        <a *ngIf="taikhoan==null" [routerLink]="['/dangnhap']">Đăng nhập</a>
                        <a *ngIf="taikhoan!=null" [routerLink]="['/thongtincanhan',{taikhoan:taikhoan}]" ><b>Xin chào {{taikhoan}}</b></a>
                        <!-- <ul class="dropdown">
                            <li><a ></a></li>
                            <li><a [routerLink]="['/dangky']">Đăng ký</a></li>
                            <li><a href="#">Trợ giúp</a></li>
                    
                        </ul> -->
                        <a *ngIf="taikhoan!=null" [routerLink]="['/trangchu']" ><b>Đăng xuất</b></a>
                    </li>	
                    
                    
                </ul>	
            </div>
        </div>
        
    </div>
</nav>
<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url(assets/images/z4784167891664_3fee928780b33524842e5bbc36b34d16.jpg)">
    <div class="overlay"></div>
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-12 col-md-offset-0 text-left">
                <div class="row row-mt-15em">

                    <div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
                        <span class="intro-text-small">Đừng e ngại</span>
                        <h1>Hãy Liên Hệ Với Chúng Tôi </h1>	
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>
</header>


<div class="gtco-section border-bottom">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6 animate-box">
                <h3>Liên Hệ Với Chúng Tôi</h3>
                <form method="post" [formGroup]="FeedbackForm" (ngSubmit)="save()">
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label class="sr-only" for="name">Name</label>
                            <input type="text" id="name" class="form-control" placeholder="Họ tên của bạn" formControlName="hoTen">
                        </div>
                        
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <label class="sr-only" for="gmail">Email</label>
                            <input type="text" id="gmail" class="form-control" placeholder="Địa chỉ email của bạn" formControlName="gmail">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <label class="sr-only" for="subject">Subject</label>
                            <input type="text" id="subject" class="form-control" placeholder="Tiêu đề" formControlName="tieuDe">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <label class="sr-only" for="message">Message</label>
                            <textarea name="message" id="message" cols="30" rows="10" class="form-control" placeholder="Vấn đề của bạn" formControlName="vanDe"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Gửi Ngay" class="btn btn-primary">
                    </div>

                </form>		
            </div>
            <div class="col-md-5 col-md-push-1 animate-box">
                
                <div class="gtco-contact-info">
                    <h3>Contact Information</h3>
                    <ul>
                        <li class="address">828 Sư Vạn Hạnh<br> Phường 13 Quận 10</li>
                        <li class="phone"><a href="tel://1234567920">+ 1235 2355 98</a></li>
                        <li class="email"><a href="mailto:info@yoursite.com">skyhigh@yoursite.com</a></li>
                        <li class="url"><a href="https://freehtml5.co">SkyHigh</a></li>
                    </ul>
                </div>


            </div>
            </div>
        </div>
    </div>
</div>
<p-toast></p-toast>